@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-Light.eot");
  src: local("Akrobat Light"), local("Akrobat-Light"),
    url("/public/fonts/Akrobat/Akrobat-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-Light.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-Light.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-Regular.eot");
  src: local("Akrobat Regular"), local("Akrobat-Regular"),
    url("/public/fonts/Akrobat/Akrobat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-Regular.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-Regular.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-ExtraLight.eot");
  src: local("Akrobat ExtraLight"), local("Akrobat-ExtraLight"),
    url("/public/fonts/Akrobat/Akrobat-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-ExtraLight.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-ExtraLight.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-SemiBold.eot");
  src: local("Akrobat SemiBold"), local("Akrobat-SemiBold"),
    url("/public/fonts/Akrobat/Akrobat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-SemiBold.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-SemiBold.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-Thin.eot");
  src: local("Akrobat Thin"), local("Akrobat-Thin"),
    url("/public/fonts/Akrobat/Akrobat-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-Thin.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-Thin.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-Bold.eot");
  src: local("Akrobat Bold"), local("Akrobat-Bold"),
    url("/public/fonts/Akrobat/Akrobat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-Bold.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-Bold.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-Black.eot");
  src: local("Akrobat Black"), local("Akrobat-Black"),
    url("/public/fonts/Akrobat/Akrobat-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-Black.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-Black.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("/public/fonts/Akrobat/Akrobat-ExtraBold.eot");
  src: local("Akrobat ExtraBold"), local("Akrobat-ExtraBold"),
    url("/public/fonts/Akrobat/Akrobat-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/Akrobat/Akrobat-ExtraBold.woff2") format("woff2"),
    url("/public/fonts/Akrobat/Akrobat-ExtraBold.woff") format("woff"),
    url("/public/fonts/Akrobat/Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
