// duplicates in client\src\constants\CSSValues\ECSSValueSpeed.ts

html {
  body,
  body[data-device="desktop"] {
    --speed_quick: 130ms;
    --speed_normal: 200ms;
    --speed_slow: 300ms; // on small objects
    --speed_verySlow: 500ms;
    --speed_slowest: 1000ms; // modal mask
  }

  body[data-device="phone"] {
    --speed_quick: 70ms;
    --speed_normal: 100ms;
    --speed_slow: 200ms; // on small objects
    --speed_verySlow: 400ms;
    --speed_slowest: 800ms; // modal mask
  }
}
