@import "styles/includes/fonts.scss";
@import "styles/variablesSCSS/screenSizes.scss";

body #root {
  font-family: $normalFontFamilies;
  font-size: 120% !important;
}

@media (max-width: #{$px480}) {
  body #root {
    font-size: 110% !important;
  }
}
