// duplicate in "client\src\sharable\screensWidth.ts"

$px1600: 1600px;
$px1280: 1280px;
$px1024: 1024px;
$px960: 960px;
$px800: 800px;
$px640: 640px;
$px480: 480px;
$px400: 400px;
$px360: 360px;
$px320: 320px;
$px300: 300px;
$px280: 280px;

$screenWidths: 1600, 1280, 1024, 960, 800, 640, 480, 400, 360, 320, 300, 280;
